# Configuração do Servidor backend na Hostinger
PORT=3000
NODE_ENV=production

# Chave do Mercado Pago (Painel Mercado Pago Developers)
# https://www.mercadopago.com.br/developers/panel/app
MERCADOPAGO_ACCESS_TOKEN=APP_USR-seu-access-token-producao-aqui

# URL da API do Frontend (Se o backend rodar em domínio/subdomínio separado)
VITE_API_URL=https://seudominio.com.br
